<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Make Near Me</title>
    <link href="/{{ static_map['main.css'] }}" rel="stylesheet">
</head>
<body>
    <div id="root">
        <div>
            <section class="primary">
                <div class="inner">
                    <h1>Make Near Me</h1>
                    <div class="intro-text">
                        <p>Make your own version of Owls Near Me!</p>
                        <p>Start by <a href="/login">signing in with Zeit</a></p>
                    </div>
                </div>
            </section>
            <section class="footer">
                <div class="inner">
                    <p class="meta">by <a href="https://twitter.com/natbat">Natalie Downe</a> and <a href="https://twitter.com/simonw">Simon Willison</a> using data from <a href="https://www.inaturalist.org/">iNaturalist</a> - <a href="https://github.com/simonw/make-near-me">Source code</a></p>
                </div>
            </section>
        </div>
    </div>
</body>

</html>
